@model test_base_donnee_indemnite.Models.OrdreMission

@{
    ViewBag.Title = "OrdreMissionInfo";
    Layout = "~/Views/Shared/dash.cshtml";
}

<h2>OrdreMissionInfo</h2>


@using (Html.BeginForm("SaveOrdreMission","OrdreMission")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>OrdreMission</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.name_respo_mission, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name_respo_mission, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name_respo_mission, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.dateDepart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateDepart, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
            @Html.ValidationMessageFor(model => model.dateDepart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dateArrivee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateArrivee, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
            @Html.ValidationMessageFor(model => model.dateArrivee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.heureDepart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.heureDepart, new { htmlAttributes = new { @class = "form-control", Type = "time" } })
            @Html.ValidationMessageFor(model => model.heureDepart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.heureArrivee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.heureArrivee, new { htmlAttributes = new { @class = "form-control", Type = "time" } })
            @Html.ValidationMessageFor(model => model.heureArrivee, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.echlon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.echlon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.echlon, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.matricule, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.matricule, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.matricule, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.grade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.grade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.grade, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.objetDepart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.objetDepart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.objetDepart, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.moyenTransport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.moyenTransport, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.moyenTransport, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.nombreCheuvaux, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombreCheuvaux, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreCheuvaux, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.montant_total, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.montant_total, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.montant_total, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class = "control-label col-md-2"> Personne </label>
        <select name="IdPers" id="NomPersonel" class="form-control"
                style="width: 80.7%; height:36px; position:relative; left:15px;">
            <option>Select le personnel</option>
            @foreach (var item in ViewBag.P)
            {
                <option value="@item.IdPers"> @item.Nom @item.Prenom </option>
            }
        </select>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Trajet </label>

        <select name="id_trajet" id="id_trajet" class="form-control"
                style="width: 80.7%; height:36px; position:relative; left:15px;">
            <option>Select le trajet</option>
            @foreach (var item in ViewBag.T)
            {
                <option value="@item.id_trajet"> De @item.villeDepart vers @item.villeArrivee </option>
            }
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.HiddenFor(m => m.idOrdremission)
            <input type="submit" value="Save this MissionOrdre" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "OrdreMissionList")
</div>

